# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Environment variables
.env
.env.*

# Optional eslint cache
.eslintcache

# Next.js build output
.next

# Serverless directories
.serverless/

# DynamoDB local files
.dynamodb/

# Yarn integrity file
.yarn-integrity

# Coverage directory
coverage
*.lcov

# nyc test coverage
.nyc_output

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*